PyInstaller
fastapi~=0.112.2
uvicorn==0.20.0
sqlalchemy~=2.0.43
aiomysql~=0.2.0
pydantic~=2.11.7
python-multipart==0.0.7
cryptography
python-jose[cryptography]~=3.3.0
python-multipart~=0.0.6
pandas~=2.3.1
starlette~=0.38.2
openpyxl~=3.1.5
pyodbc~=5.2.0